In [3]:
import pandas as pd
from sqlalchemy import create_engine

# Database connection (update with your credentials)
engine = create_engine("postgresql+psycopg2://retail_user:mypassword@localhost:5432/retail_database")

# Load some transactions
query = """
SELECT*
FROM sales
LIMIT 5;
"""
df = pd.read_sql(query, engine)
df.head()

,sale_id,customer_id,employee_id,sale_date,total_amount,payment_method
0,1,1,2,2025-09-16 17:14:42.725783,100.5,Card
1,2,2,4,2025-09-16 17:14:42.725783,75.0,Cash
2,3,3,5,2025-09-16 17:14:42.725783,250.0,UPI
3,4,4,6,2025-09-16 17:14:42.725783,40.0,Card
4,5,5,8,2025-09-16 17:14:42.725783,95.0,Cash